.libs
.deps
.dirstamp
Makefile
Makefile.in
ar-lib
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
depcomp
*.o
*.lo
*.la
install-sh
libfoo-example1
libtool
ltmain.sh
m4
missing
stamp-h1

